@model MC1000.Models.Discount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Korting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nieuwe prijs
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>
        <dt class = "col-sm-2">
            Geldig tot
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
        <dt class = "col-sm-2">
            Aanbieding
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bewerken</a> |
    <a asp-area="CMS" asp-controller="Promotions" asp-action="Index">Terug</a>
</div>
