@model IEnumerable<MC1000.Models.News>

@{
    ViewData["Title"] = "Nieuws Beheer";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuwe aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Text
            </th>
            <th>
                Datum
            </th>
            <th>
                Auteur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <div style="max-height:100px; overflow:hidden">
                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Text))
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
