@model IEnumerable<MC1000.Models.CartItemViewModel>

@{
    ViewData["Title"] = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/cart.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

<script type="text/javascript" src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Winkelwagen
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            <table id="sorttable" class="sortable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Afbeelding
                        </th>
                        <th class="th-sm">
                            Product
                        </th>
                        <th class="th-sm">
                            Prijs
                        </th>
                        <th class="th-sm">
                            Aantal
                        </th>
                        <th class="th-sm">
                            Totale Prijs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="img-responsive" src="@item.Image" alt="preview" width="120" height="80">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                €@Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <div class="col-4 col-sm-4 col-md-4">
                                    <div class="quantity">
                                        <a class="btn btn-sm" asp-action="increaseAmount" asp-route-id="@item.ProductId">+</a>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                        <a class="btn btn-sm" asp-action="DecreaseAmount" asp-route-id="@item.ProductId">-</a>
                                    </div>
                                </div>
                            </td>

                            <td>
                                €@Html.DisplayFor(modelItem => item.TotalPrice)
                            </td>
                            <td>
                                <a class="btn btn-outline-danger btn-xs" asp-action="DeleteFromCart" asp-route-id="@item.ProductId"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- END PRODUCT -->
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px">
                    @*To implement*@
                    <a href="" class="btn btn-success pull-right">Order plaatsen</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>

<script>

    $(document).ready(function () {
        $('#sorttable').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>