@model IEnumerable<MC1000.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<section class="page-section portfolio" id="portfolio">
    <br /> @*schaamteloze br*@
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Categorieën</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Promo Grid Items-->
        <div class="row">
            @foreach (var item in Model)
            {
                @if (item.BannerImage != null)
                {
                    <!-- Promo Item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a class="portfolio-item mx-auto" asp-action="SubCategories" asp-route-id="@item.Id">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/banners/categories/@item.BannerImage" alt="Categorie @item.Name" />
                            <p style="text-align: center">@item.Name</p>
                        </a>
                    </div>
                }
                else
                {
                    <!-- Promo Item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a class="portfolio-item mx-auto" asp-action="SubCategories" asp-route-id="@item.Id">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/assets/img/portfolio/cake.png" alt="Categorie @item.Name" />
                            <p style="text-align: center">@item.Name</p>
                        </a>
                    </div>
                }
            }
        </div>
</section>