@model IEnumerable<MC1000.Models.DeliverySlot>

@{
    IEnumerable<Order> order = ViewData["Order"] as IEnumerable<Order>;
    ViewData["Title"] = "Bezorgdatum";
}

<h1>Bezorgdatum overzicht</h1>

@foreach (var item in order)
{
    @item.Id
    @item.Status
    foreach (var i in item.OrderLines)
    {
        @i.ProductId
        @i.Amount

    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    <a asp-action="TimeSlot" asp-route-id="@item.Id">Kies een tijdstip</a>
                </td>
            </tr>
        }
    </tbody>
</table>