@model MC1000.Models.Order

@{
    ViewData["Title"] = "Bestelling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <br />
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bestelling</h3>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div>
            <hr />
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Order ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Bestelling geplaatst op
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Levering tussen
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.DatePlaced)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.TimeSlot.StartTime) en @Html.DisplayFor(model => model.TimeSlot.EndTime)
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (Model.OrderLines != null)
            {

                @foreach (var item in Model.OrderLines)
                {
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Merk
                                </th>
                                <th>
                                    Prijs
                                </th>
                                <th>
                                    Aantal
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @*@item.Product.Title*@
                                </td>
                                <td>
                                    @*@item.Product.Brand*@
                                </td>
                                <td>
                                    @*@item.Product.Price*@
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
            else
            {
                <p>Geen producten gevonden voor deze bestelling.</p>
            }
        </div>
        <div>
            <a asp-action="Index">Terug</a>
        </div>
    </div>
</section>