@model MC1000.Models.Order

@{
    ViewData["Title"] = "Bestelling";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<DeliverySlot> delivery = ViewData["DeliverySlots"] as IEnumerable<DeliverySlot>;

}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <br />
        <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bestelling</h3>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div>
            <hr />
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Bestelling geplaatst op
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Bezorgdatum
                        </th>
                        <th>
                            Levering tussen
                        </th>
                        <th>
                            Bezorgkosten
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.DatePlaced)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.TimeSlot.DeliverySlot.DeliveryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.TimeSlot.StartTime) en @Html.DisplayFor(model => model.TimeSlot.EndTime)
                        </td>
                        <td>
                            €@Html.DisplayFor(model => model.TimeSlot.Price)
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (Model.OrderLines != null)
            {
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Merk
                            </th>
                            <th>
                                Prijs per stuk
                            </th>
                            <th>
                                Aantal
                            </th>
                            <th>
                                Prijs
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderLines)
                        {
                            <tr>
                                <td>
                                    @item.Product.Title
                                </td>
                                <td>
                                    @item.Product.Brand
                                </td>
                                <td>
                                    €@item.Product.Price
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    €@(@item.Product.Price * @item.Amount)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Totaal prijs:</td>
                            <td>@Html.DisplayFor(model => model.TotalPrice)</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>Geen producten gevonden voor deze bestelling.</p>
            }
        </div>
        <div>
            <a asp-action="Index">Terug</a>
        </div>
    </div>
</section>